@import "tailwindcss";

@theme {
  --color-primary: #0b2644;
  --color-secondary: #dee2e7;
}

body {
  /* You can now use the variable here or in your HTML */
  /* background-color: var(--color-primary);
  color: white; Optional: for better contrast on dark blue */
}