@import "tailwindcss";

@theme {
  /* This defines the 'primary' key for colors */
  --color-primary: #0b2644;
}

body {
  /* You can now use the variable here or in your HTML */
  /* background-color: var(--color-primary);
  color: white; Optional: for better contrast on dark blue */
}